.button {
	-fx-background-color: transparent;
}

#fields {
	-fx-opacity: 0.2;
}


#AnchorPane {

	-fx-background-color: linear-gradient(to bottom, #000000, #020001, #030002, #030004, #030006, #030007, #030009, #02000a, #04000a, #06000a, #08000a, #0a000a);
}

#settings {
	-fx-graphic: url("settings.png");
}

#hide {
	-fx-graphic: url("hide.png");
}

#close {
	-fx-graphic: url("close.png");
}

#settings:hover{
	-fx-graphic: url("settingsHover.png");
}

#hide:hover {
	-fx-graphic: url("hideHover.png");
}

#close:hover {
	-fx-graphic: url("closeHover.png");
}

#settings:pressed{
	-fx-graphic: url("settings.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#hide:pressed {
	-fx-graphic: url("hide.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#close:pressed {
	-fx-graphic: url("close.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}