.button {
	-fx-background-color: transparent;
}

#fields {
	-fx-font: 15px verdana;
	-fx-background-color: rgba(255, 255, 255, 0.05);
	-fx-background-radius: 70 30 70 30;
}

#fields:hover {
	-fx-border-color: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	-fx-border-width: 1.5;
    -fx-border-radius: 70 30 70 30;
    -fx-border-insets: -2 -2 -2 -2;
	-fx-font: 17px verdana;
    -fx-background-insets: -2 -2 -2 -2;
	-fx-background-color: rgba(255, 255, 255, 0.15);
	-fx-background-radius: 70 30 70 30;
}

#fields:focused {
	-fx-border-color: linear-gradient(to left, #780e4b, #82316e, #874e8f, #886aae, #8785c9, #7c83c7, #7082c5, #6480c2, #4c64a6, #35488b, #1d2e6f, #001655);
    -fx-border-width: 1.5;
    -fx-border-radius: 70 30 70 30;
    -fx-border-insets: -2 -2 -2 -2;
	-fx-font: 17px verdana;
	-fx-background-insets: -2 -2 -2 -2;
	-fx-background-color: rgba(255, 255, 255, 0.15);
	-fx-background-radius: 70 30 70 30;
}

#anchorPane {
	-fx-background-radius: 70 30 70 30;
	-fx-background-color: linear-gradient(to top left, #000000, #020001, #030002, #030004, #030006, #030007, #030009, #02000a, #04000a, #06000a, #08000a, #0a000a);
}

#newsPane {
	-fx-background-radius: 45 45 45 45;
	-fx-background-color: rgba(255, 255, 255, 0.05)
}

#settings {
	-fx-graphic: url("settings.png");
}

#hide {
	-fx-graphic: url("hide.png");
}

#close {
	-fx-graphic: url("close.png");
}

#settings:hover{
	-fx-graphic: url("settingsHover.png");
}

#hide:hover {
	-fx-graphic: url("hideHover.png");
}

#close:hover {
	-fx-graphic: url("closeHover.png");
}

#settings:pressed{
	-fx-graphic: url("settings.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#hide:pressed {
	-fx-graphic: url("hide.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#close:pressed {
	-fx-graphic: url("close.png");
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}