.root {
    -fx-font-family: Montserrat;
}

.button {
	-fx-background-color: transparent;
	-fx-skin: 'ui.animations.ButtonAnim';
}

#play{
	-fx-font-size: 48px;
	-fx-text-fill: linear-gradient(to top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}
#play:hover{
	-fx-text-fill: linear-gradient(to top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

.progress-bar {
    -fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-border-radius: 30;
 
}
.progress-bar .bar{
	-fx-background-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-background-radius: 30;
}
.progress-bar .track{
	-fx-background-color: transparent;
}

#settingsSlider .track {
	-fx-border-color: linear-gradient(to right top, #140a11, #130b13, #120d14, #100e15, #0f0f16, #0e1017, #0c1218, #0b1318, #0a1519, #091619, #091819, #0a1918);
	-fx-border-width: 1;
    -fx-border-radius: 70 20 70 20;
    -fx-background-color: transparent;
}
#settingsSlider:hover .track {
	-fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}
#settingsSlider:focused:hover .track {
	-fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#settingsSlider .thumb {
    -fx-pref-height: 10;
    -fx-pref-width: 20;
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-border-width: 1;
	-fx-border-radius: 70 30 70 30;
}
#settingsSlider:hover .thumb {
    -fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}
#settingsSlider:hover:focused .thumb {
    -fx-border-color: white;
}

#settingsLabel {
	-fx-font-size: 16px;
	-fx-text-fill: #8888ff;
}
#settingsLabel:hover {
	-fx-text-fill: linear-gradient(to top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#fields {
	-fx-border-color: linear-gradient(to right top, #281921, #261b25, #241c28, #221e2a, #1f202c, #1c222e, #19232f, #162530, #122730, #10292f, #102b2e, #132d2b);
	-fx-border-width: 0.85;
    -fx-border-radius: 70 30 70 30;
	-fx-skin: 'ui.animations.FieldAnim';
	-fx-font-size: 16px ;
	-fx-background-color: rgba(100, 100, 100, 0.05);
	-fx-background-radius: 70 30 70 30;
	-fx-text-fill: #8888ff;

}
#fields:hover {
	-fx-skin: 'ui.animations.FieldAnim';
	-fx-border-width: 1.5;
    -fx-border-radius: 70 30 70 30;
    -fx-border-insets: -2 -2 -2 -2;
    -fx-background-insets: -2 -2 -2 -2;
	-fx-background-color: rgba(255, 255, 255, 0.15);
	-fx-background-radius: 70 30 70 30;
	-fx-text-fill: linear-gradient(to top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
	-fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}
#fields:focused {
	-fx-skin: 'ui.animations.FieldAnim';
	-fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
    -fx-border-width: 1.5;
    -fx-border-radius: 70 30 70 30;
    -fx-border-insets: -2 -2 -2 -2;
	-fx-font-size: 18px;
	-fx-background-insets: -2 -2 -2 -2;
	-fx-background-color: rgba(255, 255, 255, 0.15);
	-fx-background-radius: 70 30 70 30;
	-fx-text-fill: linear-gradient(to top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#mainPane {
	-fx-background-radius: 70 30 70 30;
	-fx-background-color: linear-gradient(to top left, #000000, #020001, #030002, #030004, #030006, #030007, #030009, #02000a, #04000a, #06000a, #08000a, #0a000a);
}

#newsPane {
	-fx-background-radius: 0 0 45 45;
	-fx-background-color: rgba(200, 200, 200, 0.025);
	-fx-border-radius: 0 0 45 45;
	-fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-border-width: 0.4;
}
#newsPane:hover {
	-fx-background-radius: 0 0 45 45;
	-fx-background-color: rgba(200, 200, 200, 0.03);
	-fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#navPane {
	-fx-background-radius: 45 45 0 0;
	-fx-border-radius: 45 45 0 0;
	-fx-background-color: rgba(200, 200, 200, 0.03);
	-fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-border-width: 0.4;
}
#navPane:hover {
	-fx-background-radius: 45 45 0 0;
	-fx-background-color: rgba(200, 200, 200, 0.03);
	-fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#settingsPane {
	-fx-border-radius: 45 45 45 45;
	-fx-background-radius: 45 45 45 45;
	-fx-background-color: rgba(200, 200, 200, 0.025);
	-fx-border-color: linear-gradient(to right top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
    -fx-border-width: 0.2;
}
#settingsPane:hover {
	-fx-background-radius: 45 45 45 45;
	-fx-background-color: rgba(200, 200, 200, 0.03);
	-fx-border-color: linear-gradient(to right top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#headerPane {
	-fx-background-radius: 70 30 0 0;
	-fx-background-color: rgba(255, 255, 255, 0.04);
}

#footerPane {
	-fx-background-radius: 0 0 70 30;
	-fx-background-color: rgba(255, 255, 255, 0.04);
}

#switchAccount {
	-fx-graphic: url("switchAccount.png");
	-fx-font-size: 48px;
	-fx-text-fill: linear-gradient(to top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}

#settings {
	-fx-graphic: url("settings.png");
}

#hide {
	-fx-graphic: url("hide.png");
}

#close {
	-fx-graphic: url("close.png");
}

#login {
	-fx-graphic: url("login.png");
}

#play {
	-fx-graphic: url("play.png");
}

#logout {
	-fx-graphic: url("logout.png");
}

#switchAccount:hover {
	-fx-graphic: url("switchAccount.png");
}

#settings:hover{
	-fx-graphic: url("settingsHover.png");
}

#hide:hover {
	-fx-graphic: url("hideHover.png");
}

#close:hover {
	-fx-graphic: url("closeHover.png");
}

#login:hover {
	-fx-graphic: url("loginHover.png");
}

#play:hover {
	-fx-graphic: url("playHover.png");
}

#logout:hover {
	-fx-graphic: url("logoutHover.png");
}

#switchAccount:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#settings:pressed{
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#hide:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#close:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#login:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#play:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#logout:pressed {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

#box {
	-fx-graphic: url("box.png");
	-fx-font-size: 15px;
	-fx-text-fill: linear-gradient(to top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}
#box:hover{
	-fx-text-fill: linear-gradient(to top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#boxChecked {
	-fx-graphic: url("boxChecked.png");
	-fx-font-size: 15px;
	-fx-text-fill: linear-gradient(to top, #683552, #6d3760, #6e3b70, #6b4182, #614895, #4f53a1, #365daa, #0067b0, #0071a8, #007799, #007b88, #2f7d78);
}
#boxChecked:hover{
	-fx-text-fill: linear-gradient(to top, #d16ba5, #ca6eb3, #c173c0, #b578cd, #a57ed9, #8e8eea, #709cf7, #4aaaff, #00c1ff, #00d7ff, #01eafd, #5ffbf1);
}

#test {
	-fx-graphic: url("top.png");
}
